<!-- src/app/components/historial/historial.component.html -->
<div>
    <!-- Botones para seleccionar la vista -->
    <button mat-raised-button (click)="setViewMode('main')" [color]="viewMode === 'main' ? 'primary' : 'default'">Main</button>
    <button mat-raised-button (click)="setViewMode('player')" [color]="viewMode === 'player' ? 'primary' : 'default'">Player</button>
    
    <!-- Contenido basado en la opción seleccionada -->
    <ng-container *ngIf="viewMode === 'main'">
      <!-- Mostrar lista de salas con jugadores y ganadores -->
      <div class="container">
    
        <!-- Botones de Paginación -->
        <div class="pagination-controls">
          <button mat-raised-button color="primary" (click)="previousPage()" [disabled]="currentPage === 0">Anterior</button>
          <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= filteredRooms.length">Siguiente</button>
        </div>
    
        <!-- Lista de Salas -->
        <mat-accordion>
          <mat-expansion-panel *ngFor="let room of paginatedRooms[currentPage]" (opened)="onRoomClick(room.id)" [expanded]="selectedRoomId === room.id">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ room.codigo }}
              </mat-panel-title>
              <mat-panel-description>
                Código de la Sala: {{ room.codigo }}
              </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-tab-group>
              <mat-tab label="Jugadores">
                <table mat-table [dataSource]="playersDataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                    <td mat-cell *matCellDef="let player">{{ player.user_email }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['user_id']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['user_id'];"></tr>
                </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
              </mat-tab>
              <mat-tab label="Ganadores">
                <table mat-table [dataSource]="winnersDataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                    <td mat-cell *matCellDef="let winner" [ngStyle]="{'background-color': '#e0f7fa'}">{{ winner.user_email }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['user_id']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['user_id'];"></tr>
                </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
              </mat-tab>
            </mat-tab-group>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  
    <ng-container *ngIf="viewMode === 'player'">
      <!-- Mostrar salas ganadas -->
      <div>
        <h2>Salas Ganadas</h2>
        <table mat-table [dataSource]="roomsWon" class="mat-elevation-z8">
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let room"> {{room.codigo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="ronda">
            <th mat-header-cell *matHeaderCellDef> Ronda </th>
            <td mat-cell *matCellDef="let room"> {{room.ronda}} </td>
          </ng-container>
  
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let room"> {{room.created_at | date}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-container>
  </div>
  