<div class="container">
    <mat-card class="cartasss">
      <div class="carta-container">
        <button mat-raised-button color="primary" (click)="shuffleCards()">Cambiar Cartas</button>
        <table class="tabla-loteria">
          <tr *ngFor="let row of tablaCartas">
            <td *ngFor="let carta of row">
              <div class="carta">
                <img [src]="carta.url" [alt]="carta.name" class="carta-imagen">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-card>
    <div class="frijolito-container">
      <div *ngFor="let frijolito of frijolitos" 
           class="frijolito" 
           [ngStyle]="{'top.px': frijolito.top, 'left.px': frijolito.left}"
           (mousedown)="onMouseDown($event, frijolito)">
        <img src="assets/imagen/frijolito.png" alt="Frijolito" class="frijolito-imagen">
      </div>
    </div>
  </div>
  