<div class="container">
    <mat-card class="cartasss">
      <div class="carta-container">
        <div class="carta">
          <img [src]="currentCarta?.url" [alt]="currentCarta?.name" class="carta-imagen">
        </div>
  
        <div class="button-group">
          <button mat-raised-button color="primary" (click)="anterior()" [disabled]="currentIndex === 0">Anterior</button>
          <button mat-raised-button color="primary" (click)="siguiente()">Siguiente</button>
        </div>
      </div>
    </mat-card>

    <mat-card>
        <div class="jugadores">
            <h2 style="font-size: 30px; padding: 30px;">Chems conectados</h2>
            <mat-list>
              <mat-list-item *ngFor="let jugador of jugadores">
                {{ jugador.email }}
              </mat-list-item>
            </mat-list>
          </div>
      </mat-card>
  </div>
  